{% extends 'main/base.html'%}

{% block main %}
    <!--c. 入力された情報を個々に出力-->
    <table class="table">
        <tr>
            <th>Compaund name</th>
            <td>{{ form.cleaned_data.name }}</td>
        </tr>
        <tr>
            <th>SMILES</th>
            <td>{{ form.cleaned_data.SMILES }}</td>
        </tr>
        <tr>
            <th>comment</th>
            <td>{{ form.cleaned_data.comment }}</td>
        </tr>
        <tr>
            <th>b.p.(K)</th>
            <td>{{ form.cleaned_data.boilingpoint }}</td>
        </tr>
        <tr>
            <th>m.p.(K)</th>
            <td>{{ form.cleaned_data.meltingpoint }}</td>
        </tr>
    </table>
{% endblock %}