{% extends 'main/layout.html' %}
    {% block main %}
        <div class="table-responsive">
        <table class="table table-bordered text-nowrap">
            <thead>
                <tr>
                    <th scope="col">compaund name</th>
                    <th scope="col">SMILES</th>
                    <th scope="col">comment</th>
                    <th scope="col">b.p. (K)</th>
                    <th scope="col">m.p. (K)</th>
                </tr>
            </thead>
            <tbody>
                <!--a. モデルの集合(chemicals)を順に出力-->
                {% for c in chemical %}
                <tr>
                    <td>{{ c.name }}</td>
                    <td>{{ c.SMILES }}</td>
                    <td>{{ c.comment }}</td>
                    <td>{{ c.boilingpoint }}</td>
                    <td>{{ c.meltingpoint }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <a  class = "btn btn-primary" href ="{% url 'csvexport' %}" role="button">csv出力</a>
        <form action="{% url 'csvimport' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="form-control" type= "file" name="csv" id="formFile">
            <botton class="btn btn-primary" type = "submit" name="button">送信</botton>
        </form>
    {% endblock %}
</html>